@model ArkWeb.Models.ArkBlog_EditList_ViewModel
@{
    ViewData["Title"] = "Blog List";
}

<div class="row">
    <div class="col-md-4">
        <h3>@ViewData["Message"]</h3>
    </div>
</div>

<form action="@Url.Action("ArkBlog_List", "Story")" method="post">
    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(x => x.ListCriteria.TitleTxt, "Blog Title")
            @Html.EditorFor(x => x.ListCriteria.TitleTxt, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(x => x.ListCriteria.EntityID, "Author")
            @Html.EditorFor(x => x.ListCriteria.EntityID, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-5">
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.ListCriteria.FromEntryDt, "From Entry Date")
                @Html.EditorFor(x => x.ListCriteria.FromEntryDt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.ListCriteria.FromEntryDt, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.ListCriteria.ThruEntryDt, "Thru Entry Date")
                @Html.EditorFor(x => x.ListCriteria.ThruEntryDt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.ListCriteria.ThruEntryDt, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4 text-left">
            <input type="submit" value="Refresh List" class="btn btn-default" />
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(x => x.ListCriteria.ActiveYn, "Is Active", new { htmlAttributes = new { @class = "control-label col-md-4" } })
            <div class="col-md-8">
                @Html.EditorFor(x => x.ListCriteria.ActiveYn, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-4 text-right">
            <input type="submit" value="Reset Filter" class="btn btn-default" />
        </div>
    </div>
</form>

<hr />

<div class="row" style="font-weight:700">
    <div class="col-md-4">Blog Title</div>
    <div class="col-md-3">Author</div>
    <div class="col-md-3">Entry Date</div>
    <div class="col-md-2">Is Active</div>
</div>

@foreach (var item in Model.SimpleListModel)
{
    <div class="row">
        <div class="col-md-4">@Html.ActionLink(item.TitleTxt, "ArkBlog_Info", "Story", new { id = @item.ObjectID })</div>
        <div class="col-md-3">@Html.DisplayFor(x => item.EntityID)</div>
        <div class="col-md-3">@Html.DisplayFor(x => item.EntryDts)</div>
        <div class="col-md-2">@Html.DisplayFor(x => item.ActiveYn)</div>
    </div>
}
