@model ArkWeb.Models.ArkEntity_EditItem_ViewModel
@{
    ViewData["Title"] = "Entity Info";
}

<div class="row">
    <div class="col-md-4">
        <h3>@ViewData["Message"]</h3>
    </div>
</div>
@Html.HiddenFor(x => x.ModelObject.ObjectID)
@Html.HiddenFor(x => x.ModelObject.VersionKey)
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(x => x.ModelObject.EntityNm, "Entity Name:")
        @Html.DisplayFor(x => x.ModelObject.EntityNm, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        @Html.LabelFor(x => x.ModelObject.DescTxt, "Description:")
        @Html.DisplayFor(x => x.ModelObject.DescTxt, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        @Html.LabelFor(x => x.ModelObject.CreateByUid, "Created By:")
        @Html.DisplayFor(x => x.ModelObject.CreateByUid, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(x => x.ModelObject.CreateOnDts, "Created On:")
        @Html.DisplayFor(x => x.ModelObject.CreateOnDts, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        @Html.LabelFor(x => x.ModelObject.UpdateByUid, "Updated By:")
        @Html.DisplayFor(x => x.ModelObject.UpdateByUid, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(x => x.ModelObject.UpdateOnDts, "Updated On:")
        @Html.DisplayFor(x => x.ModelObject.UpdateOnDts, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(x => x.ModelObject.ActiveYn, "Is Active:")
        @Html.DisplayFor(x => x.ModelObject.ActiveYn, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        @Html.ActionLink("Edit", "ArkEntity_Edit", "Entity", new { id = Model.ModelObject.ObjectID })
    </div>
</div>

<hr />

<div class="container" role="tabpanel">
    <!-- nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a data-toggle="tab" role="tab" href=”#tags” aria-controls="tags">Tags</a></li>
        <li><a data-toggle="tab" role="tab" href=”#references” aria-controls="references">References</a></li>
        <li><a data-toggle="tab" role="tab" href=”#contacts” aria-controls="contacts">Contacts</a></li>
    </ul>
    <!-- tab panes -->
    <div class="tab-content" style="padding-top: 20px">
        <div id="tags" role="tabpanel" class="tab-pane fade in active">
            <div class="row" style="font-weight:700">
                <div class="col-md-6">Tag</div>
                <div class="col-md-6">Type</div>
            </div>

            @foreach (var item in Model.ModelObject.EntityTagList)
            {
                <div class="row">
                    <div class="col-md-6">@Html.DisplayFor(x => item.TagTxt)</div>
                    <div class="col-md-2">@Html.DisplayFor(x => item.TypeTxt)</div>
                </div>
            }
        </div>
        <div id="references" role="tabpanel" class="tab-pane fade in">
            TODO: references tab
        </div>
        <div id="contacts" role="tabpanel" class="tab-pane fade in">
            TODO: contacts tab
        </div>
    </div>
</div>

@*<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>*@
