@model ArkWeb.Models.ArkProject_EditItem_ViewModel
@{
    ViewData["Title"] = "Project Info";
}

<div class="row">
    <div class="col-md-4">
        <h3>@ViewData["Message"]</h3>
    </div>
</div>
@Html.HiddenFor(x => x.ModelObject.ObjectID)
@Html.HiddenFor(x => x.ModelObject.VersionKey)
<div class="row">
    <div class="form-group col-md-4">
        @Html.LabelFor(x => x.ModelObject.ProjectNm, "Project Name:")
        @Html.DisplayFor(x => x.ModelObject.ProjectNm, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(x => x.ModelObject.ManagerNm, "Manager:")
        @Html.DisplayFor(x => x.ModelObject.ManagerNm, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(x => x.ModelObject.ClientNm, "Client:")
        @Html.DisplayFor(x => x.ModelObject.ClientNm, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        @Html.LabelFor(x => x.ModelObject.DescTxt, "Description:")
        @Html.DisplayFor(x => x.ModelObject.DescTxt, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        @Html.LabelFor(x => x.ModelObject.CreateByNm, "Created By:")
        @Html.DisplayFor(x => x.ModelObject.CreateByNm, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(x => x.ModelObject.CreateOnDts, "Created On:")
        @Html.DisplayFor(x => x.ModelObject.CreateOnDts, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        @Html.LabelFor(x => x.ModelObject.UpdateByNm, "Updated By:")
        @Html.DisplayFor(x => x.ModelObject.UpdateByNm, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(x => x.ModelObject.UpdateOnDts, "Updated On:")
        @Html.DisplayFor(x => x.ModelObject.UpdateOnDts, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(x => x.ModelObject.ActiveYn, "Is Active:")
        @Html.DisplayFor(x => x.ModelObject.ActiveYn, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        @Html.ActionLink("Edit", "ArkProject_Edit", "Project", new { id = Model.ModelObject.ObjectID })
    </div>
</div>
